@media screen and (max-width: 770px) {
  .navbar {
    width: 90%;
  }

  .logo h2 a {
    font-size: 20px;
  }

  #menu_bar {
    display: grid;
    color: #fff;
    position: absolute;
    right: 5%;
    top: 10px;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
  }
  .nav_links {
    flex-direction: column;
    position: absolute;
    background: #24292d;
    width: 100%;
    left: 0;
    padding: 0;
  }

  .nav_links li a {
    border-bottom: 1px solid #fff;
    display: block;
    border-radius: 0;
    padding: 10px 0;
    margin: 0 20px;
  }

  .nav_links li:last-child a {
    border-bottom: none;
  }

  .inner-anasayfa {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .child-anasayfa {
    flex-basis: 100%;
  }
  .child-anasayfa h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .child-anasayfa p {
    font-size: 20px;
  }

  /* yazılımlar */
  .innersoftware{
    display: block;
    align-items: center;
  }
  .innersoftware-child {
    
    margin-bottom: 30px;
  }

  /* sertifikalar */
  .child-courses {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  /* başarılar */
  .child-achivement {
    flex-basis: 100%;
    margin-bottom: 30px;
    
  }
  .single-detail {
    flex-basis: 100%;
    
  }
  .child-achivement2 .sd-3{
    margin-bottom: 20px;
  }
  

  /* hakkımda */
  .child-testi {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  .child-testi:last-child {
    margin-bottom: 0;
  }

  /* iletişim */

  .child-contact {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  /* footer */
  .child-footer {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .child-footer h3{
    margin-bottom: 10px;
  }
}
